<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.persistence.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:name="org.cherry.persistence.demo.app.PersistenceApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Light" >
        <activity
            android:name="org.cherry.persistence.demo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.cherry.persistence.demo.CriteriaQueryActivity"
            android:label="@string/criteria_query" >
            <meta-data
                android:name="clazz"
                android:value="org.cherry.persistence.demo.fragment.CriteriaQueryFragment" />
        </activity>

        <provider
            android:name="org.cherry.persistence.demo.provider.DataProvider"
            android:authorities="org.cherry.persistence.demo"
            android:exported="false" />
    </application>

</manifest>